# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local development
.env
.env.local
.env.*.local

# Model files and data
*.pth
*.pt
*.bin
*.h5
data/*.csv

# Mac OS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
